services:
  samba:
    container_name: samba_nt1_ps2
    hostname: Docker
    image: smb_opl:latest
    restart: always
    volumes:
      - "${STORAGE_OPL}:/mnt/ps2smb"
    ports:
      - ${PORT}:445/tcp
